<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div id="user-uid" style="display: none;">{{uid}}</div>
    <div id="to-uid" style="display: none;">{{to}}</div>
    <link rel="stylesheet" href="/css/chat.css">
    <title>chat-app-{{test}}</title>
</head>

<body>
    <div class="app__wrap">
        <div id="info" class="app__info"></div>
        <div id="chatWindow" class="app__window"></div>
        <div class="app__input__wrap">
            <input id="chatInput" type="text" class="app__input" autofocus placeholder="대화를 입력해주세요.">
            <button id="chatMessageSendBtn" class="app__button">전송</button>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/src/chat.js"></script>
</body>

</html>