<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서당</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <div class="root">
        <div class="header">
            <div class="topbar-header">
                <div>계정 정보</div>
            </div>
            <div class="topbar-container">
                <div class="topbar-logo"></div>
            </div>
            <div class="topbar-footer">
                <div class="tool page-not-selected">
                    <img class="nav-icon" id="searchBtn" src="/img/buttonIcon/search.png" />
                </div>
                <a href="/alert">
                    <div class="tool page-not-selected">
                        <img class="nav-icon" src="/img/buttonIcon/{{alert_state}}.png" />
                    </div>
                </a>
            </div>
            <form action="/search" method="get" id="formSearch">
                <div class="searcherWrap center" id="searcherWrap">
                    <div class="searcherBack">
                        <div class="gobackBtn">
                            <img src="./img/buttonIcon/arrow.png" class="arrowBtn" alt="back">
                        </div>
                    </div>
                    <div class="searcher">
                        <input class="searchInput" type="text" name="data" placeholder="검색어를 입력하세요.">
                        <div class="searchGo center">
                            <img class="nav-icon" id="searchGoBtn" src="./img/buttonIcon/search.png" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="container">
            <div class="container center">
                <div class="profileWrap">
                    <div class="profileHeader"></div>
                    <div class="profileContainer">
                        <div class="dataWrap center">{{nickname}}</div>
                        <div class="dataWrap center">{{uid}}</div>
                        <div class="dataWrap center">{{schoolid}}</div>
                        <div class="center btnWrap">
                            <a href="/search?creator={{uid}}">
                                <div class="cbutton">내 글</div>
                            </a>
                            <a href="/logout">
                                <div class="cbutton">로그아웃</div>
                            </a>
                            <a href="/change-pwd">
                                <div class="cbutton">비밀번호 변경하기</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="nav-item page-not-selected">
                <a href="/home">
                    <img class="nav-icon" src="/img/buttonIcon/home2.png" />
                </a>
            </div>
            <div class="nav-item page-not-selected">
                <a href="/write">
                    <img class="nav-icon" src="/img/buttonIcon/write.png" />
                </a>
            </div>
            <div class="nav-item page-selected">
                <a href="/profile">
                    <img class="nav-icon" src="/img/buttonIcon/user.png" />
                </a>
            </div>
        </div>
    </div>
    <script src="/src/search.js"></script>
</body>

</html>