.main {
    display: flex;
    flex-direction: column;
}

.main-photo {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 60px;
    width: 100%;
    max-height: 100vh;
    transition: 0.1s;
}

.main-container {
    background-color: white;
    z-index: 1;
    margin-top: 100vh;
    padding: 15px 0;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.item-dataWrap {
    padding: 0 15px;
    padding-top: 5px;
    padding-bottom: 40px;
    border-bottom: 1px solid #d8d8d8;
}

.item-date {
    font-size: 12px;
    color: #949494;
}

.item-title {
    font-size: 20px;
    font-weight: 600;
}

.item-content {
    font-size: 16px;
}

.item-price {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}

.item-category {
    padding-top: 5px;
    color: #727272;
    font-size: 18px;
}

.item-buttonWrap {
    padding: 50px 0;
    margin-bottom: 25px;
    display: flex;
    align-items: end;
}

.callBtn {
    flex: 1;
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f89e37;
    color: white
}

.wrapCaller {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.511);
    z-index: 1;
    backdrop-filter: blur(1px);
}

.caller {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    background-color: white;
}

.caller-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.caller-title {
    font-size: 18px;
    font-weight: 500;
}

.closeBtn {
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: 500;
}

.caller-container {
    flex: 1;
    padding: 0 20px;
    font-size: 16px;
    overflow: hidden;
}

.textWrap {
    overflow-y: scroll;
    height: 120px;
}

.wrap-with-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wrapButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.wrapButton>* {
    margin-left: 10px;
}

.soldout {
    background-color: #848484;
}

.filesWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.file-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #aaa;
    width: 140px;
    height: 70px;
    padding: 5px 25px;
    margin: 5px;
    cursor: pointer;
}

.commenter {
    margin-top: 10px;
}

.comment-wrap {
    display: flex;
    flex-direction: column;
}

.comment-input-wrap {
    width: 80%;
    margin-bottom: 10px;
}

.input-long {
    padding: 10px;
    resize: none;
    width: 100%;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #aaa;
    transition: 0.2s;
}

.display-input-wrap {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.summitBtn {
    border: none;
    user-select: none;
    background-color: #f89e37;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    font-weight: 600;
}

.submit-wrap {
    width: 80%;
    display: flex;
    justify-content: end;
}

.inputLabel {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 700;
}